.leaderboard{
        background-color:$dkpurple;
}
ul.leaderboard-list{}
li.leaderboard-list-item{
        &:hover{
                background-color: rgba(89, 0, 255, .3);
                cursor:pointer;
        }
        &:not(:last-child){
                border-bottom:1px solid rgba(89, 0, 255, .3);
        }
        &:first-child{
                .leaderboard-list-item-rank,
                .leaderboard-list-item-name{
                        color:$teal;
                }
        }
}
.leaderboard-list-item-link{
        position:absolute;
        width: 100%;
        height: 100%;
        z-index:1;

}
.leaderboard-list-item-rank{
        color:$purple;
        font-family: alphaHeadline;
        font-size:46px;
        z-index:2;
        margin-right:30px;
}
.leaderboard-list-item-avatar{
        max-height: 50px;
        width:auto;
        z-index:2;
        margin:0 60px 0 30px;
}
.leaderboard-list-item-name{
        color:$white;
        @include alpha-xl;
        @include flex-grow(3);
        font-size:30px;
        z-index:2;
}
.leaderboard-list-item-amount{
        color:$green;
        @include alpha-xl;
        z-index:2;
}