.news-article{
        
}
.news-article-title{
        font-family: sourceSansPro;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
}
.news-article-publisher{
        font-family: sourceSansPro;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 5px;
}
.news-article-date{
        font-family: alphaHeadline;
        font-size:14px;
        margin-bottom: 5px;
}
.news-article-snippet{
        p{
                margin-bottom:5px;
        }
}