<!DOCTYPE html>
<html>
    <head>
	<title>Paws Your Game</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
	<nav id="Nav">
	    <h1 class="nav-logo"><a href="home">Paws Your Game</a></h1>
	    <ul>
		<li><a href="our-tail.php">Our Tail</a></li>
		<li><a href="leaderboard.php">Leaderboard</a></li>
		<li><a href="news.php">News</a></li>
		<li class="nav-search">
		    <form>
			<button>
			    <i class="icon icon-standard">search</i>
			</button>
			<input type="text" name="search" placeholder="Search for Players / Shelters / Donors">
		    </form>
		</li>
		<li class="nav-signin"><a href="sign-in.html">Sign In</a></li>
		<li class="nav-donate"><a href="donate.html">Donate</a></li>
	    </ul>
	</nav>
	<div id="content">
	    {% block content %}{% endblock %}
	</div>
    </body>
</html>
