<!DOCTYPE html>
<html>
    <head>
	<title>Paws Your Game</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <!-- Jquery -->
        <script src="{{ url_for('static', filename='js/libraries/jquery.js') }}"></script>
        <!-- Popper - requirement for boostrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="{{ url_for('static', filename='js/libraries/autosize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </head>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <body>
	<nav id="Nav">
	    <h1 class="nav-logo"><a href="/">Paws Your Game</a></h1>
	    <ul>
	      <li class="nav-our_tail"><a href="/about">Our Tail</a></li>
	      <li class="nav-news"><a href="/news">News</a></li>
	      <li class="nav-search">
                <button class="nav-search-icon">
                        <i class="icon icon-standard">search</i>
                </button>
                <div class="nav-search-form_container">
        		<form action="/search" method="post">
                                <input type="text" placeholder="Search for Players / Shelters / Teams" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search for Players / Shelters / Teams'">
                                <button class="nav-search-submit">
                                      Search
                                </button>
        		</form>
                        <button class="nav-search-exit">x</button>
                </div>
	      </li>
	      {% if session.userid %}
	      <li class="nav-profile">
                <a href="/profile/{{session.userid}}">Profile</a>
                <ul>
                        <li>
                                <a href="/createfundraiser">Start a Fundraiser!</a>
                        </li>
                        <li>
                                <a href="/account/{{ auth.id }}">Account Management</a>
                        </li>
                        <li>
                                <a href="/logout">logout</a>
                        </li>
                </ul>
              </li>
	      {% else %}
	      <li class="nav-signin"><a href="/login">Sign In</a></li>
	      {% endif %}
	      <li class="nav-donate"><a href="/donate">Donate</a></li>
	    </ul>
	</nav>
	<div id="content">
	  {% block content %}{% endblock %}
	</div>
    </body>
</html>
