{% extends "base_content.html" %}

{% block content %}
<div class="articles">
  <h1>News</h1>
  {% for article in articles %}
  <div class="newsItem">
    <h2 class="headline">{{ article.headline }}</h2>
    <p class="author">{{ article.author }}</p>
    <p>{{ article.date }}</p>
    <p>{{ article.body }}</p>
  </div>
 {% endfor %}
</div>
<div class="toc">
  <ul>
    {% for item in toc %}
    <li><a href="{{ url_for(".article", slug=item.slug) }}">{{ item.headline }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
