{% extends "base_content.html" %}

{% block content %}
<div class="teamProfile">
    <p>TODO: Fill me out</p>
    <div class="teamProfileStats">
	<p>amount raised</p>
	<p>date joined</p>
	<p>players on roster</p>
    </div>
    <div class="teamProfileCampaigns">
	<p>TODO: Wire up a campaigns module here</p>
	<p>Campaign name</p>
	<p>Campaign $ raised so far</p>
	<p>Campaign start</p>
	<p>Campaign target</p>

	<p>Campaign highest earner so far or: leaderboard</p>
    </div>
    <div class="teamProfileAbout">
	<p>I should be about text</p>
	<p>Do I want to know what shelters we've raised money for?</p>
    </div>
</div>
{% endblock %}
