{% extends "base_content.html" %}

{% block content %}
<div id="Shelter_Profile" class="content">
  <div class="section shelter_profile-about">
    <p class="shelter_profile-name">{{ shelter.name }}</p>
    <img src="{{ url_for('static', filename='img/undersonctruction.jpg') }}"/>
    <h3>Mission</h3>
    <p class="shelter_profile-mission-statement">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper molestie lorem a feugiat. Donec mattis elit quis ipsum ullamcorper, vel fermentum nunc placerat. In malesuada ipsum lorem, a sodales orci suscipit ac. Vivamus rutrum dolor ut elit ornare ultricies. Duis rutrum felis nunc, at cursus urna eleifend ut. Donec neque nisl, blandit a odio sed, cursus facilisis velit. Donec mi ex, ullamcorper venenatis lacinia in, condimentum eu metus. In sit amet interdum sapien. Vivamus pharetra vel leo vel interdum. Maecenas tristique orci sit amet orci aliquam, id pharetra massa condimentum. Mauris at rutrum odio. Praesent vestibulum elit lectus, ullamcorper rhoncus sapien dignissim sit amet. Fusce tristique ex nec tempus luctus. Curabitur sed tristique erat. Phasellus hendrerit congue ligula eget molestie. Etiam sed eros nec sem eleifend faucibus eget id felis.</p>
  </div>
  <div class="section shelter_profile-upcoming-events">
  </div>
  <div class="section shelter_profile-gamers-supporting">
  </div>
</div>
{% endblock %}
