{% extends "base_content.html" %}

{% block content %}
<div id="sessiontest">
  {% if username %}
  <h1>welcome, {{ username }}!</h1>
  {% endif %}
</div>
<div id="Home" class="content">
  <div class="home-hero section">
    <div class="home-hero-background_color"></div>
    <h2>{{ text.subheader }}</h2>
    <p>{{ text.subtitle }}</p>
  </div><!--end home-hero-->
  <div class="home-intro section">
    <div class="home-intro-donate_now">
      <img src="{{ url_for('static', filename='img/icon-home-intro-donate_now.png')}}"/>
      <p>{{ text.intro_donate }}</p>
      <button class="button" href="#">Donate Now</button>
    </div>
    <div class="home-intro-start_gaming">
      <img src="{{ url_for('static', filename='img/icon-home-intro-start_gaming.png')}}"/>
      <p>{{ text.intro_start_gaming }}</p>
      <a class="button" href="/signup">Start Gaming</a>
    </div>
    <div class="home-intro-join_us">
      <img src="{{ url_for('static', filename='img/icon-home-intro-join_us.png')}}"/>
      <p>{{ text.intro_join }}</p>
      <button class="button" href="#">Join us</button>
    </div>
  </div><!--end home-intro-->
  <div class="home-leaderboard leaderboard section">
    <h2 class="home-leaderboard-header">Leaderboard</h2>
    <ul class="leaderboard-list">
      <?php for($i=1; $i<=5; $i++){ ?>
      <li class="leaderboard-list-item">
        <a class="leaderboard-list-item-link" href="gamer_profile.php">
        </a>
        <span class="leaderboard-list-item-rank"><?php echo $i ?></span>
        <img class="leaderboard-list-item-avatar" src="{{ url_for('static', filename='img/oscaravatar.jpg')}}"/>
        <span class="leaderboard-list-item-name">Firstname Lastname</span>
        <span class="leaderboard-list-item-change icon-block leaderboard-list-item-change-icon_down"></span>
</span>
<span class="leaderboard-list-item-amount">$20,000</span>
</li>
<?php } ?>
</ul>

</div><!--end home-leaderboard-->
<div class="home-news section">
  <?php for($i=1; $i<=3; $i++){ ?>
  <div class="home-news-article news-article">
    <h3 class="news-article-title">GIMME DB</h3>
    <h4 class="news-article-publisher">GIMME DB</h4>
    <h5 class="news-article-date">GIMME DB</h5>
    <div class="news-article-snippet">
      <p>
	GIMME DB
      </p>
      <p>
	GIMME DB
      </p>
    </div>
  </div>
  <?php } ?>
</div><!--end home-news-->
<div class="home-about section">
  <div class="home-about-goal">
    <span class="icon icon-standard">dollarsign</span>
    <p>{{ text.about_goal }}</p>
  </div>
  <div class="home-about-funds">
    <p>{{ text.about_funds }}</p>
    <span class="icon icon-block">videogame</span>
  </div>
  <div class="home-about-gamers">
    <span class="icon icon-block">timer</span>
    <p>{{ text.about_gamers }}</p>
  </div>
  
</div><!--end home-about-->
<div class="home-data section">
  
</div><!--end home-data-->
</div><!-- end Home-->
{% endblock %}
