{% extends "base_content.html" %}
{% from "_formhelpers.html" import render_field %}


{% block content %}
{% if session.userid %}
<div>
  <form id="submit" method="post">
    
    <ul class="Fundraiser-upcoming-list">
      <li class="Fundraiser-upcoming-name">
	{{ render_field(form.name) }}
      </li>
      <li class="Fundraiser-upcoming-date">
	<span class="icon icon-standard">calendar</span>
	{{ render_field(form.end_date) }}
	<!-- <input name="start_date" form="submit" placeholder="when will it start?">This should be a dropdown</input> -->
      </li>
      <li class="Fundraiser-upcoming-donations">
	<span class="icon icon-block">moneybag</span>
	{{ render_field(form.target_funds) }}
	<input name="target_funds" form="submit" placeholder="how much do you want to raise?"></input>
      </li>
      <li class="Fundraiser-create-about">
	{{ render_field(form.about) }}
	<textarea name="about" form="submit" rows="10" cols="30">Write a little about your fundraiser!</textarea>
      </li>
    </ul>
    <ul class="Fundraiser-upcoming-share">
      <li>
	<a href="#"><span class="icon icon-standard">link</span> Copy Page Link</a>
      </li>
      <li>
	<a href="#"><span class="icon icon-standard">calendar</span> Add to Calendar</a>
      </li>
      <li>
	<a href="#"><span class="icon icon-social">facebook</span> Share to Facebook</a>
      </li>
    </ul>
    <button>SUBMIT!!!</button>
    <input name="userid" type="hidden" form="submit" value={{ session.userid }} /input>
  </form>
</div>
{% else %}
<h1 color="red">YOU MUST BE LOGGED IN TO CREATE A FUNDRAISER. GO LOG IN.</h1>
{% endif %}
{% endblock%}
