{% extends "base_content.html" %}

{% block content %}
<div class="teamProfile">
  <p>TODO: Fill me out</p>
  <h3>{{ team.name }}</h3>
    <div class="teamProfileStats">
	<p>amount raised</p>
	<h3>Date Joined</h3>
	<p>{{ team.date_joined }}</p>
	<p>players on roster</p>
    </div>
    <div class="teamProfileCampaigns">
      {% for i in team.fundraisers %}
      <p>{{ i.name }}</p>
      {% endfor %}
	<p>TODO: Wire up a campaigns module here</p>
	<p>Campaign name</p>
	<p>Campaign $ raised so far</p>
	<p>Campaign start</p>
	<p>Campaign target</p>
	<p>Campaign highest earner so far or: leaderboard</p>
    </div>
    <div class="teamProfileAbout">
      <h3>About</h3>
      <p>{{ team.about }}</p>
      <p>Do I want to know what shelters we've raised money for?</p>
    </div>
</div>
{% endblock %}
