{% extends "base_content.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

{% if fundraiser %}
<div id="Fundraiser">
  {% if session.userid == fundraiser.member_id %}
  <form method="post" class="fundraiser-form">
      {% endif %}
      <ul class="fundraiser">
	<li class="fundraiser-name fundraiser-item">
                <span class="icon icon-block">tag</span>
                <div class="fundraiser-item-content">
        	       {% if session.userid == fundraiser.member_id %}
        	       {{ render_field(form.name) }}
        	       {% else %}
        	       <h3>{{ fundraiser.name }}</h3>
        	       {% endif %}
                </div>
	</li>
	<li class="fundraiser-date fundraiser-item">
	       <span class="icon icon-standard">calendar</span>
                <div class="fundraiser-item-content">
        	       {% if session.userid == fundraiser.member_id %}
                                <div class="fundraiser-date-start">
                	               {{ render_field(form.start_date) }}
                                </div>
                                <div class="fundraiser-date-end">
                	               {{ render_field(form.end_date) }}
                                </div>
        	       {% else %}
        	               <h3>{{ fundraiser.start_date | humanize('naturaldate') }}</h3>
        	       {% endif %}
                </div>
	</li>
	<li class="fundraiser-countdown fundraiser-item">
	       <span class="icon icon-standard">stopwatch</span>
                <div class="fundraiser-item-content">
        	       <h3 class="countdown" countdown data-date="Jun 30 2020 21:00:00">
        	       <span data-days></span> Days
        	       <span data-hours></span> Hours
        	       <span data-minutes></span> Minutes
        	       <span data-seconds></span> Seconds
        	  </h3>
                </div>
	</li>
	<li class="fundraiser-donations fundraiser-item">
	  <span class="icon icon-block">moneybag</span>
          <div class="fundraiser-item-content">
                <button class="button button-green Fundraiser-upcoming-donations-donate_btn">Donate</button>
                <div class="Fundraiser-upcoming-donations-progress_bar"></div>
               <h3>{{ fundraiser.donations | sum(attribute="amount") | format_currency() }}  / {{ fundraiser.target_funds | format_currency() }}</h3>
        	       {% if session.userid == fundraiser.member_id %}
        	               {{ render_field(form.target_funds) }}
        	       {% endif %}
                </div>
	</li>
	<li class="fundraiser-donors fundraiser-item">
                <span class="icon icon-standard">user</span>
                <div class="fundraiser-item-content">
	               <h3>{{ fundraiser.donations|length }} Donations</h3>
                </div>
	</li>
        <li class="fundraiser-share fundraiser-item">
                <ul>
                        <li>
                          <a href="#"><span class="icon icon-standard">link</span> Copy Page Link</a>
                        </li>
                        <li>
                          <a href="#"><span class="icon icon-standard">calendar</span> Add to Calendar</a>
                        </li>
                        <li>
                          <a href="#"><span class="icon icon-social">facebook</span> Share to Facebook</a>
                        </li>
              </ul>
        </li>
      </ul>
      {% if session.userid == fundraiser.member_id %}
       <button type=submit value="submit changes" class="fundraiser-submitedits button">Submit Changes</button>
  </form>
  {% endif %}
</div>
{% else %}
<div>
  <table class="Fundraiser-list-fundraisers">
    <tr>
      <th>Starts</th>
      <th>Ends</th>
      <th>Name</th>
      <th>Raised</th>
      <th>Target</th>
      <th>Owner</th>
    </tr>
    {% for i in fundraisers %}
    <tr onclick="window.location.href='fundraiser/{{ i.id }}'">
      <td>{{ i.start_date | humanize('naturaldate') }}</td>
      <td>{{ i.end_date | humanize('naturaldate') }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.donations | sum(attribute="amount") | format_currency() }}</td>
      <td>{{ i.target_funds | format_currency() }}</td>
      <td>{{ i.member.name }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% endblock %}
