{% extends "base_content.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="search">
  
  <div class="searchBar">
    <form method="post">
      {{ render_field(form.querystring) }}
      {{ render_field(form.submit) }}
      {{ render_field(form.searchfor) }}
    </form>
  </div>
  <div class="searchResults">

    {% if results.players[0] is defined %}
    <label for="player_results">Players</label>
    <table id="player_results">
      <tr>
	<th><button onclick={% set sortby = "id" %}>ID</button></th>
	<th><button onclick={% set sortby = "name" %}>Name</button></th>
	<th>Amount raised</th>
      </tr>
      {% for i in results.players|sort(attribute=sortby) %}
      <tr>
	<td>{{ i.id }}</td>
	<td>{{ i.handle }}</td>
	<td>{{ i.donations|sum(attribute="amount") }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if results.teams[0] is defined %}
    <label for="team_results">Teams</label>
    <table id="team_results">
      <tr>
	<th>ID</th>
	<th>Name</th>
	<th>Amount Raised</th>
	<th>Members</th>
      </tr>
      {% for i in results.teams %}
      <tr>

	<td>{{ i.id }}</td>
	<td><a href="/teamprofile/{{i.id}}">{{ i.name }}</a></td>
	<td>{{ i.members.donations|sum(attribute="amount") }}</td>
	<td>{{ i.members|length() }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if results.fundraisers[0] is defined %}
    <label for="fundraiser_results">Fundraisers</label>
    <table id="fundraiser_results">
      <tr>
	<th>ID</th>
	<th>Name</th>
	<th>Amount Raised</th>
	<th>Start Date</th>
	<th>End Date</th>
      </tr>
      {% for i in results.fundraisers %}
      <tr>
	<td>{{ i.id }}</td>
	<td><a href="/fundraiser/{{ i.id }}">{{ i.name }}</a></td>
	<td>{{ i.donations|sum(attribute="amount") }}</td>
	<td>{{ i.start_date }}</td>
	<td>{{ i.end_date }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if results.shelters[0] is defined %}
    <label for="shelter_results">Shelters</label>
    <table id="shelter_results">
      <tr>
	<th>Name</th>
	<th>Location</th>
      </tr>
      {% for i in results.shelters %}
      <tr>
	<td><a href="/shelter/{{ i.id }}">{{ i.name }}</td>
	<td>{{ i.location }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    
  </div>
</div>
{% endblock %}
