{% extends "base_content.html" %}

{% block content %}
<div id="Leaderboard" class="leaderboard content">
  <ul class="leaderboard-list">
    {% for i in players %}
    <li class="leaderboard-list-item">
      <a class="leaderboard-list-item-link" href="gamer_profile.php">
      </a>
      <span class="leaderboard-list-item-rank">{{ i.0 }}</span>
      <img class="leaderboard-list-item-avatar" src="img/placeholder-user-avatar.png"/>
      <span class="leaderboard-list-item-name">{{ i.1.handle }}</span>
      <span class="leaderboard-list-item-change icon-block leaderboard-list-item-change-icon_up">navigateup</span>
</span>
<span class="leaderboard-list-item-amount">{{ "$%.2f"|format(i.1.total|float) }}</span>
</li>
{% endfor %}
</ul> <!--end leaderboard-list -->
</div> <!--end leaderboard-->
{% endblock %}
