{% extends "base_content.html" %}

{% block content %}

{% if member %}
<div id="Gamer_Profile" class="content">
  {% if session.userid == auth.id and auth.id %}
  <h2>Welcome, {{ auth.name }}</h2>
  <form id="submit" action="/profile/{{ auth.id }}" method="post">
    <button>Submit changes</button>
    <a href="/createfundraiser">Start a Fundraiser!</a>
    <a href="/account/{{ auth.id }}">Account Management</a>
  {% endif %}
  <div class="section gamer_profile-overview">
    <div class="gamer_profile-overview-avatar_username">
      <img class="gamer_profile-overview-avatar avatar"/>
      {% if session.userid == auth.id and auth.id %}
	{{ form.handle }}
      {% else %}
      <h1 class="gamer_profile-overview-username">{{ auth.name }}</h1>
      {% endif %}
    </div>
    <ul class="gamer_profile-overview-stats">
      <li class="gamer_profile-overview-stats-raised">
	<i class="icon icon-block stats-raised-icon">moneybag</i>
	<dl>
	  <dt>Raised</dt>
	  <dd>{{ member.donations | sum(attribute="amount") | format_currency() }}</dd>
	</dl>
      </li>
      <li class="gamer_profile-overview-stats-rank">
	<i class="icon icon-block">trophy</i>
	<dl>
	  <dt>Rank</dt>
	  <dd>GIMME DB</dd>
	</dl>
      </li>
      <li class="gamer_profile-overview-stats-upcoming_fundraiser">
	<i class="icon icon-standard">calendar</i>
	<dl>
	  <dt>Upcoming Fundraiser</dt>
	  {% if upcoming_fundraiser  %}
	  <dd><a href="/fundraiser/{{member.fundraisers.0.id}}">{{ member.fundraisers.0.name }}</a></dd>
	  {% else %}
	  <dd>No upcoming fundraisers</dd>
	  {% endif %}
	</dl>
      </li>
      <li class="gamer_profile-overview-stats-location">
	<i class="icon icon-block">earth</i>
	<dl>
	  <dt>Location</dt>
	  {% if session.userid == auth.id and auth.id %}
	    {{ form.location }}
	  {% else %}
	  <dd>{{ member.location }}</dd>
	  {% endif %}
	  
	</dl>
      </li>
      <li class="gamer_profile-overview-stats-twitch_handle">
	<i class="icon"></i>
	<dl>
	  <dt>Twitch Handle</dt>
	  {% if session.userid == auth.id and auth.id %}
	    {{ form.twitch_handle }}
	  {% else %}
	  <dd>{{ member.twitch_handle }}</dd>
	  {% endif %}
	</dl>
      </li>
    </ul>
  </div>
  
  <div class="section gamer_profile-why_i_paws">
    <div class="why_i_paws">
      <header><h1>Why I Paws</h1><i class="icon"></i></header>
      {% if session.userid == auth.id and auth.id %}
      {{ form.about }}
      {% else %}
	<p>{{ member.about }}</p>
	  </form>

      {% endif %}
    </div>
  </div>
  
  <div class="gamer_profile-fundraisers">
    
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
	<a class="nav-link active" data-toggle="tab" href="#Gamer_Profile-Fundraisers-Upcoming" role="tab" aria-controls="home" aria-selected="true">Upcoming Fundraisers</a>
      </li>
      <li class="nav-item">
	<a class="nav-link" data-toggle="tab" href="#Gamer_Profile-Fundraisers-Past" role="tab" aria-controls="profile" aria-selected="false">Past Fundraisers</a>
      </li>
    </ul>


    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="Gamer_Profile-Fundraisers-Upcoming" role="tabpanel" aria-labelledby="Gamer_Profile-Fundraisers-Upcoming-tab">
	{% for i in fundraisers %}	
	<ul class="gamer_profile-fundraisers-upcoming-list">
	  <li class="gamer_profile-fundraisers-upcoming-name">
	    <h3>{{ i.name }}</h3>
	  </li>
	  <li class="gamer_profile-fundraisers-upcoming-date">
	    <span class="icon icon-standard">calendar</span>
	    <h3>{{ i.start_date | humanize('naturaldate') }}</h3>
	  </li>
	  <li class="gamer_profile-fundraisers-upcoming-countdown">
	    <span class="icon icon-standard">stopwatch</span>
	    <h3 class="countdown" countdown data-date="Jun 30 2020 21:00:00">
	      <span data-days></span> Days
	      <span data-hours></span> Hours
	      <span data-minutes></span> Minutes
	      <span data-seconds></span> Seconds
	    </h3>
	  </li>
	  <li class="gamer_profile-fundraisers-upcoming-donations">
	    <span class="icon icon-block">moneybag</span>
	    <h3>{{ i.donations | sum(attribute="amount") | format_currency() }}  / {{ i.target_funds | format_currency() }}</h3>
	    <div class="gamer_profile-fundraisers-upcoming-donations-progress_bar"></div>
	    <button class="button button-green gamer_profile-fundraisers-upcoming-donations-donate_btn">Donate</button>
	  </li>
	  <li class="gamer_profile-fundraisers-upcoming-donors">
	    <span class="icon icon-standard">user</span>
	    <h3>{{ i.donations|length }} Donations</h3>
	  </li>
	</ul>
	<ul class="gamer_profile-fundraisers-upcoming-share">
	  <li>
	    <a href="#"><span class="icon icon-standard">link</span> Copy Page Link</a>
	  </li>
	  <li>
	    <a href="#"><span class="icon icon-standard">calendar</span> Add to Calendar</a>
	  </li>
	  <li>
	    <a href="#"><span class="icon icon-social">facebook</span> Share to Facebook</a>
	  </li>
	</ul>
      </div><!-- end upcoming fundraiser tab -->
      {% endfor %}
      <div class="tab-pane fade" id="Gamer_Profile-Fundraisers-Past" role="tabpanel" aria-labelledby="profile-tab">
	<div class="gamer_profile-fundraisers-past-item">
	  <ul>
	    <li class="gamer_profile-fundraisers-past-date">
	      <span class="icon icon-standard">calendar</span>
	      <h3>August 30,2019</h3>
	    </li>
	    <li class="gamer_profile-fundraisers-past-donations">
	      <span class="icon icon-block">moneybag</span>
	      <div class="gamer_profile-fundraisers-past-donations-progress_bar"></div>
	    </li>
	    <li class="gamer_profile-fundraisers-past-donors">
	      <span class="icon icon-standard">user</span>
	      <h3>45 Donations</h3>
	    </li>
	    <div class="gamer_profile-fundraisers-past-twitch">
	    </div>
	  </ul>
	</div>
	<div class="gamer_profile-fundraisers-past-item">
	  <ul>
	    <li class="gamer_profile-fundraisers-past-date">
	      <span class="icon icon-standard">calendar</span>
	      <h3>August 30,2019</h3>
	    </li>
	    <li class="gamer_profile-fundraisers-past-donations">
	      <span class="icon icon-block">moneybag</span>
	      <div class="gamer_profile-fundraisers-past-donations-progress_bar"></div>
	    </li>
	    <li class="gamer_profile-fundraisers-past-donors">
	      <span class="icon icon-standard">user</span>
	      <h3>45 Donations</h3>
	    </li>
	    <div class="gamer_profile-fundraisers-past-twitch">
	    </div>
	  </ul>
	</div>
      </div><!-- end past fundraisers tab -->
      
    </div><!-- end tab-content -->
  </div><!-- end fundraisers section -->


  
  <div class="section gamer_profile-donations">
    <header class="gamer_profile-donations-header"><h1>Donations</h1></header>
    <ul class="gamer_profile-donations-list">
      <li class="gamer_profile-donations-list-item">
	<h3 class="gamer_profile-donations-list-item-donor_name">Donor Name</h3>
	<span class="gamer_profile-donations-list-item-amount">$45</span>
	<date class="gamer_profile-donations-list-item-date">April 2, 2019</date>
	<p class="gamer_profile-donations-list-item-comment">
	  Comment (optional) Bacon ipsum dolor amet bacon picanha ground round, ham hock occaecat swine frankfurter anim pancetta. Laborum incididunt pancetta enim pork chop eiusmod consequat ullamco meatball tenderloin officia turkey landjaeger. Commodo fatback swine jowl pork chop voluptate venison. Fatback jowl lorem prosciutto, sed ribeye quis cillum elit ground round chuck pig nulla reprehenderit. Sint consequat pancetta, landjaeger nostrud deserunt shankle short loin bacon id officia filet mignon. Kevin tenderloin buffalo ball tip, velit do cupim beef ribs quis eu minim doner.
	</p>
      </li>
    </ul>
  </div>
</div><!-- end gamer profile -->
{% else %}
<div>
  <p>No profile found. Who were you looking for?</p>
</div>
{% endif %}
{% endblock %}
