{% extends "base_content.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="search">
  
  <div class="searchBar">
    <form method="post">

      {% if form.querystring.errors %}
      {% for error in form.querystring.errors %}
      <span>{{ error }}</span>
      {% endfor %}
      {% endif %}
      {{ form.querystring(class="querystring") }}

      {{ form.searchfor() }}
      {{ form.submit() }}
      
    </form>
  </div>
  <div class="searchResults">
    {% if results.players[0] is defined %}
    <label class="search-table-label">Players</label>
    <table id="player_results" class="table">
      <tr class="table-row">
	<th class="search-table-rank table-cell"><a href="" onclick={% set sortby = "rank" %}><button onclick={% set sortby = "rank" %}>Rank</button></a></th>
	<th class="search_table-name table-cell"><a href="" onclick={% set sortby = "handle" %}><button onclick={% set sortby = "name" %}>Handle</button></a></th>
	<th class="table-cell"><a href="" onclick={% set sortby = "rank" %}><button onclick={% set sortby = "rank" %}>Raised</button></a></th>
      </tr>
      {% for i in results.players|sort(attribute=sortby) %}
      <tr class="table-row">
	<td class="search-table-rank table-cell">{{ i.rank }}</td>
	<td class="search_table-name table-cell">{{ i.handle }}</td>
	<td class="search-table-raised table-cell">{{ "$%.2f"|format(i.donations|sum(attribute="amount")) }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if results.teams[0] is defined %}
    <label class="search-table-label">Teams</label>
    <table id="team_results" class="table">
      <tr class="table-header table-row">
	<th class="search-table-rank table-cell">Rank</th>
	<th class="search_table-name table-cell">Name</th>
	<th class="search-table-raised table-cell">Raised</th>
	<th class="search-table-members table-cell">Members</th>
      </tr>
      {% for i in results.teams %}
      <tr class="table-row">
	<td class="search-table-rank table-cell">{{ i.rank }}</td>
	<td class="search_table-name table-cell"><a href="/teamprofile/{{i.id}}">{{ i.name }}</a></td>
	<td class="search-table-raised table-cell">{{ "$%.2f"|format(i.members.donations|sum(attribute="amount")) }}</td>
	<td class="search-table-members table-cell">{{ i.members|length() }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if results.fundraisers[0] is defined %}
    <label class="search-table-label">Fundraisers</label>
    <table id="fundraiser_results" class="table">
      <tr class="table-header table-row">
	<th class="search_table-name table-cell">Name</th>
	<th class="table-cell">Raised</th>
	<th class="table-cell">Start</th>
	<th class="table-cell">End</th>
      </tr>
      {% for i in results.fundraisers %}
      <tr class="table-header table-row">
	<td class="search_table-name table-cell"><a href="/fundraiser/{{ i.id }}">{{ i.name }}</a></td>
	<td class="search-table-raised table-cell">{{ "$%.2f"|format(i.donations|sum(attribute="amount")) }}</td>
	<td class="table-cell">{{ i.start_date.strftime('%Y-%m-%d') }}</td>
	<td class="table-cell">{{ i.end_date.strftime('%Y-%m-%d') }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if results.shelters[0] is defined %}
    <label class="search-table-label">Shelters</label>
    <table id="shelter_results" class="table">
      <tr class="table-header table-row">
	<th class="search_table-name table-cell" class="search_table-name">Name</th>
	<th class="table-cell">Location</th>
      </tr>
      {% for i in results.shelters %}
      <tr class="table-row">
	<td class="search_table-name table-cell"><a href="/shelter/{{ i.id }}">{{ i.name }}</td>
	<td class="table-cell">{{ i.location }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    
  </div>
</div>
{% endblock %}
