<!DOCTYPE html>
{% from "_formhelpers.html" import render_field %}

<html>
  <head>
    <title>Paws Your Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div>
      <h1>Login please</h1>
    </div>
    <div>
      <h3>{{ failure_text }}</h3>
      <form method="post">
	<dl>
	  {{ render_field(form.email) }}
	  {{ render_field(form.password) }}
	</dl>
	<p><input type=submit value=login>
      </form>
      <p>Don't have an account yet? You can <a href="signup">create one here</a></p>
    </div>
  </body>
</html>
