<!DOCTYPE html>

<!-- I want to get this such that email is entered, then checked for, then a password is set. -->
<!-- Finding the most elegant way to do that might take a little while so for now, -->
<!-- we'll just get it working in one solid block and fix that later. -->

<html>
    <head>
	<title>Paws Your Game</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
	<div>
	    <h1>Welcome!  Glad you could join us!</h1>
	</div>
	<div>
	    <h3>{{ failure_text }}</h3>
	    <form action="/newuser" method="post">
		<input type="text" name="email" placeholder="Email">
		<input type="text" name="password" placeholder="Password">
		<input type="text" name="name" placeholder="Name">
		<button>
		    <p>sign up</p>
		</button>
	    </form>
	</div>
    </body>
</html>
