$black: #000;
$white: #fff;

$dkpurple: #1b002b;
$purple: #5900ff;
$ltpurple: #f2e6ff;

$dkteal: #000f17;
$teal: #00c9db;
$ltteal: #a3f8ff;

$navyblue: #1b002b;

$dkgreen: #001703;
$green: #00c214;
$ltgreen: #e6fad4;

$orange: #ff5b00;

$ltgray: #f7f7f7;