#Nav{
        position:fixed;
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content: space-between;
        align-items:stretch;
        height: $headerHeight;
        width: 100%;
        background-color: $white;
        z-index:1000;

        h1{
                display: flex;
                align-items:center;
                padding:0 20px;
                color:$dkpurple;
                font-family:junegull;
                font-size:36px;
                transition:all .75s;

                &:hover{
                        color:$purple;
                        cursor:pointer;
                }
        }

        ul{
                display:flex;
                flex-direction:row;
                flex-wrap:nowrap;
                justify-content: flex-end;
                flex-grow: 1;
                align-items:stretch;

                li{
                        display: flex;
                        justify-content: center;
                        align-items:center;

                        a{
                                @include alpha-s;
                                text-transform: uppercase;
                                color:$dkpurple;
                                transition:all .75s;
                                font-size:16px;
                        }
                        i{
                                transition:all .75s;
                        }

                        &:hover{
                                cursor:pointer;    
                        }
                        &.nav-our_tail,
                        &.nav-news{
                                @include flex-grow(3);
                        }
                        &.nav-search{
                                @include flex-grow(1);
                                background-color:$dkpurple;

                                &.active{
                                        .nav-search-icon{
                                                padding: 0 20px;
                                                &:hover{
                                                        color:$purple;
                                                }
                                        }
                                }
                                .nav-search-icon{
                                        color:$purple;
                                        &:hover{
                                                color:$white;
                                        }
                                }
                                .nav-search-form_container{
                                        width:0;
                                        height: 100%;
                                        position:relative;

                                        .nav-search-exit{
                                                position:absolute;
                                                font-family:alphaHeadline;
                                                top:24%;
                                                color:$purple;
                                                font-size:18px;
                                                right:20px;
                                                transition:all 0.5s ease;
                                                &:hover{
                                                        color:$white;
                                                }
                                        }
                                }
                                form{
                                        @include flexbox();
                                        @include flex-direction(row);
                                        @include flex-wrap(nowrap);
                                        @include align-items(center);
                                        height:100%;
                                        input[type=text]{
                                                width:100%;
                                                transition:width 0.5s ease-in-out;
                                                border:0px;
                                                font-family:alphaHeadline;
                                                padding:0 15px;
                                                color:$white;
                                                &::placeholder{
                                                        color:$ltpurple;
                                                }
                                        }
                                        button.nav-search-submit{
                                                color:$purple;
                                                font-family: alphaHeadline;
                                                margin-right:50px;
                                                transition: all 0.5s ease;

                                                &:hover{
                                                       color:$white;
                                                }
                                        }
                                }
                        }
                        &.nav-signin{
                                background-color:$purple;
                                transition:all .75s;
                                padding:0 20px;
                                position:relative;
                                a{
                                        color:$white;
                                }
                                &:hover{
                                        background-color:darken($purple,10%);
                                }
                                form{
                                        position:absolute;
                                        top:$headerHeight;
                                        left:0;
                                        padding:20px;
                                        background-color:$purple;
                                        fieldset{
                                                position:relative;
                                                margin-bottom:20px;
                                        }
                                        legend{
                                                color:$white;
                                                text-transform: uppercase; 
                                                position:absolute; 
                                                background-color: $purple;
                                                width:auto;
                                                padding-right: 10px;
                                                top: -10px;
                                                left: -1px;
                                                margin-bottom:20px;
                                        }
                                        input{
                                                background-color:transparent;
                                                height: 50px;
                                                border:1px solid $white;
                                                min-width: 300px;
                                        }
                                        .nav-signin-form-create{
                                                @include flexbox();
                                                @include flex-direction(row);
                                                @include flex-wrap(nowrap);
                                        }
                                }
                        }
                        &.nav-donate{
                                background-color:$green;
                                transition:all .75s;
                                padding: 0 20px;
                                a{
                                        color:$white;
                                }
                                &:hover{
                                        background-color:darken($green,8%);
                                }
                        }
                }
        }
}